npmScopes:
  mathpresso:
    npmPublishRegistry: "https://npm.pkg.github.com"
    npmRegistryServer: "https://npm.pkg.github.com"
    npmAuthToken: {{ lookup('amazon.aws.aws_ssm', '/ansible/npm/auth_token') }}
