deb http://{{ apt_mirror_debian }}/debian sid main contrib non-free
deb-src http://{{ apt_mirror_debian }}/debian sid main contrib non-free

deb http://{{ apt_mirror_debian }}/debian testing-updates main contrib non-free
deb-src http://{{ apt_mirror_debian }}/debian testing-updates main contrib non-free

deb http://security.debian.org/ testing-security main contrib non-free
deb-src http://security.debian.org/ testing-security main contrib non-free
