deb http://{{ debian_apt_mirror }}/debian {{ ansible_distribution_release }} main
deb-src http://{{ debian_apt_mirror }}/debian {{ ansible_distribution_release }} main

deb http://security.debian.org/ {{ ansible_distribution_release }}/updates main
deb-src http://security.debian.org/ {{ ansible_distribution_release }}/updates main
