! special
st.foreground:   #abb2bf
st.background:   #1e2127
st.cursorColor:  #abb2bf

! black
st.color0:       #5c6370
st.color8:       #5c6370

! red
st.color1:       #e06c75
st.color9:       #e06c75

! green
st.color2:       #98c379
st.color10:      #98c379

! yellow
st.color3:       #e5c07b
st.color11:      #d19a66

! blue
st.color4:       #61afef
st.color12:      #61afef

! magenta
st.color5:       #c678dd
st.color13:      #c678dd

! cyan
st.color6:       #56b6c2
st.color14:      #56b6c2

! white
st.color7:       #abb2bf
st.color15:      #abb2bf

! font
st.font: FiraMono Nerd Font Mono:pixelsize=13:antialias=true:autohint=true;
st.fontalt0: Symbola:pixelsize=13:antialias=true:autohint=true;

! window
st.alpha: 1
st.borderpx: 8
