[Desktop Entry]
Name=Terminal
Comment=Suckless terminal emulator for X
Keywords=shell;prompt;command;commandline;cmd;
Exec=st
Icon=utilities-terminal
Type=Application
Categories=System;TerminalEmulator;
StartupNotify=true
Terminal=false
Encoding=UTF-8
